.card {
  flex: 1 0 calc(25% - 10px);
  max-width: calc(25% - 10px);
  min-width: 200px;
  height: 120px;
  background-color: #fff;
  border: 1px solid #9095a1;
  border-radius: 2px;
  cursor: pointer;

  & .name {
    color: black;
    padding: 10px;
    font-size: 16px;
  }
}
